/*.febworms-field-properties .jsonify {
	margin-left: 20px;
	margin-right: 20px;
}*/


.febworms-field-properties {
    position: relative;
    margin: 15px 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    -webkit-touch-callout: initial;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: text;
	-ms-user-select: initial;
	user-select: initial;
}

.febworms-field-properties form {
	margin-bottom: 0;
}

.table-field-options {
	
}

.table-field-options td, .table-field-options th {
	vertical-align: middle;
	padding: 5px;
}

.table-field-options td {
	border: 0;
	line-height: 30px;
}

.table-field-options th {
}

.table-field-options input[type="checkbox"], 
.table-field-options input[type="radio"] {
	margin-top: 0;
}

.table-field-options th.table-field-options-padding {
	width: 100%;
}


.febworms-field-properties .control-label {
	width: 110px;
}

.febworms-field-properties .controls {
	margin-left: 130px;
}

.febworms-field-properties .febworms-tabs {
	margin-bottom: 10px;
}

.febworms-field-properties .febworms-tabs .nav {
	margin-bottom: 0px;
}

.febworms-field-properties .febworms-tabs .tab-content {
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
}

.febworms-field-properties .febworms-tabs .nav-tabs a {
	color: #999;
	font-weight: 300;
}

.febworms-field-properties .febworms-tabs .nav-tabs a:hover {
	background-color: inherit;
	color: #333;
}

.febworms-field-properties .febworms-tabs .nav-tabs .active a {
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #fff !important;
}

@media (min-width: 480px) and (max-width: 979px) {
	
	.table-field-options input[type="text"] {
		width: 130px;
	}
}

/*@media (max-width: 767px) { 
	.table-field-options input[type="text"] {
		width: 90px;
	}	
}*/

@media (max-width: 480px) {  

	.table-field-options input[type="text"] {
		width: 90px;
	}

	.febworms-field-properties .controls {
		margin-left: 0px;
	}

	.febworms-field-properties {
		padding: 10px;
	}

	.febworms-field-properties form {
		margin: 0;
	}
}



