<div febworms-tabs>
    <div febworms-tabs-pane="Properties">
        <div febworms-property-field-common="{ fieldname: true, displayname: true }"></div>
    </div>
    <div febworms-tabs-pane="Options">
        <table class="table table-field-options">
            <thead>
                <tr>
                    <th class="table-field-options-actions"></th>
                    <th>Text</th>
                    <th>Value</th>
                    <th class="table-field-options-padding"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-form="fieldOptionForm" ng-repeat="option in field.options" ng-class="{ 'error': fieldOptionForm.$invalid }">
                    <td>
                        <input type="radio" name="{{ field.name }}selection[]" value="{{ option.value }}" ng-model="field.value" />
                    </td>
                    <td>
                        <input type="text" ng-model="option.text" />
                    </td>
                    <td>
                        <input type="text" name="optionValue" ng-model="option.value" ng-required="true" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
