<div febworms-tabs>
  <div febworms-tabs-pane="Properties">
    <div febworms-property-field-common="{ fieldname: true, displayname: true, placeholder: true, tooltip: true }"></div>

    <div febworms-property-field-value>
      <input febworms-input-number 
             type="text" 
             name="fieldValue" 
             ng-model="field.value" 
             min="{{ field.validation.min }}"
             max="{{ field.validation.max }}"
             ng-minlength="{{ field.validation.minlength }}"
             ng-maxlength="{{ field.validation.maxlength }}"
             ng-pattern="/{{ field.validation.pattern }}/"/>
    </div>
  </div>
    
  <div febworms-tabs-pane="Validation">

    <!-- min -->
    <div class="febworms-property-field-validation">  
      <div febworms-property-field="min" 
           febworms-property-field-label="Minimum value">
           <input febworms-input-number
                  febworms-field-redraw
                  type="text"
                  name="min"
                  title="The minimum value that should be entered"
                  ng-model="field.validation.min"/>
      </div>

      <div ng-if="field.validation.min >= 0" >
        <div febworms-edit-validation-message="min"></div>
      </div>
    </div>

    <!-- max -->
    <div class="febworms-property-field-validation">  
      <div febworms-property-field="max" 
           febworms-property-field-label="Maximum value">
           <input febworms-input-number
                  febworms-field-redraw
                  type="text"
                  name="max"
                  title="The maximum value that should be entered"
                  ng-model="field.validation.max"/>
      </div>

      <div ng-if="field.validation.max >= 0" >
        <div febworms-edit-validation-message="max"></div>
      </div>
    </div>

    <div febworms-property-field-validation="{ required: true, minlength: true, maxlength: true, pattern: true }"></div>
  </div>
</div>
