<div class="febworms-field-properties">
  <form novalidate class="form-horizontal" name="fieldPropertiesForm">

    <div ng-include="renderInfo.propertiesTemplateUrl"></div>

    <div class="form-group">
      <div class="col-sm-12">
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox" ng-model="field.$_debug"> Display field debug information
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <div ng-if="field.$_debug" data-jsonify="field"></div>
      </div>
    </div>
  </form>
</div>