<form novalidate name="metaForm" class="febworms-edit-meta form-horizontal">
    <fieldset>
        <legend>General Information</legend>
        <div class="control-group control-required">
            <label class="control-label" for="formName">Name</label>
            <div class="controls">
                <input type="text"
                       id="formName"
                       name="formName"
                       placeholder="The name of the form"
                       ng-model="schema.name"
                       ng-required="true">
                <span ng-if="metaForm.formName.$error.required && metaForm.formName.$dirty" class="help-inline">This field is required.</span>
            </div>
        </div>
    </fieldset>
</form>
