<!-- 
  input fields marked as febworms-field-redraw will cause the initial value input to redraw
-->

<!-- minlength -->
<div ng-if="fields.minlength" class="febworms-property-field-validation">  
  <div febworms-property-field="minlength" 
       febworms-property-field-label="Minimum length">
    <input type="text"
           febworms-field-redraw
           febworms-input-number
           title="The minimum length of characters that should be entered."
       		 name="minlength"
       		 ng-model="field.validation.minlength"/>
  </div>

  <div ng-if="field.validation.minlength >= 1" >
    <div febworms-edit-validation-message="minlength"></div>
  </div>
</div>

<!-- maxlength -->
<div ng-if="fields.maxlength" class="febworms-property-field-validation">  
  <div febworms-property-field="maxlength" 
       febworms-property-field-label="Maximum length">
    <input type="text"
           febworms-field-redraw
           febworms-input-number
           title="The maximum length of characters that should be entered."
           name="maxlength"
           ng-model="field.validation.maxlength"/>
  </div>

  <div ng-if="field.validation.maxlength >= 1" >
    <div febworms-edit-validation-message="maxlength"></div>
  </div>
</div>

<!-- pattern -->
<div ng-if="fields.pattern" class="febworms-property-field-validation">  
  <div febworms-property-field="pattern" 
       febworms-property-field-label="Pattern">
    <div febworms-dropdown-input="patternOptions"
         name="pattern"
         title="The pattern that should match with the input value."
         febworms-parse-pattern
         febworms-field-redraw
         ng-model="field.validation.pattern"></div>
  </div>

  <div ng-if="field.validation.pattern.length > 0" >
    <div febworms-edit-validation-message="pattern"></div>
  </div>
</div>

<!-- required -->
<div ng-if="fields.required" class="febworms-property-field-validation">
  <div febworms-property-field="required">
    <label class="checkbox" title="Indicates if a value is required for this field.">
      <input type="checkbox" ng-model="field.validation.required" />Required
    </label>
  </div>
  
  <div ng-if="field.validation.required">
    <div febworms-edit-validation-message="required"></div>
  </div>
</div>
