<div class="febworms-field-properties">
    <form novalidate class="form-horizontal" name="fieldPropertiesForm">

        <div ng-include="renderInfo.propertiesTemplateUrl"></div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" ng-model="field.$_debug"> Display field debug information
                </label>
            </div>
        </div>

        <div ng-if="field.$_debug" data-jsonify="field"></div>

    </form>
</div>