<!-- focus -->
<div ng-if="fields.focus">
  <div febworms-property-field="fieldFocus">
    <label class="checkbox" title="Set the initial focus to this field.">
      <input type="checkbox" ng-model="field.focus"/>
      Set input focus
    </label>
  </div>
</div>

<!-- fieldName -->
<div ng-if="fields.fieldname">
  <div febworms-property-field="fieldName" febworms-property-field-label="Name">
    <input type="text"
           name="fieldName"
           ng-model="field.name"
           ng-required="true"
           ng-pattern="/^[a-zA-Z]([\w]+)?$/"
           febworms-unique-field-name/>
  </div>
</div>

<!-- displayName -->
<div ng-if="fields.displayname">
  <div febworms-property-field="displayName" febworms-property-field-label="Display name">
    <input type="text" name="displayName" ng-model="field.displayName"/>
  </div>
</div>

<!-- placeholder -->
<div ng-if="fields.placeholder">
  <div febworms-property-field="fieldPlaceholder" febworms-property-field-label="Placeholder text">
    <input type="text"
             name="fieldPlaceholder"
             ng-model="field.placeholder"/>
  </div>
</div>

<!-- tooltip -->
<div ng-if="fields.tooltip">
  <div febworms-property-field="fieldTooltip" febworms-property-field-label="Tooltip">
    <input type="text"
          name="fieldTooltip"
          ng-model="field.tooltip"/>
  </div>
</div>

