<div class="febworms-field-inner form-group" ng-class="{ 'febworms-field-required': fieldSchema.validation.required, 'has-error': form.state[field.name].$invalid }">
	<label ng-if="!field.schema.nolabel" class="col-sm-3 col-md-2 control-label" for="{{ field.$_id }}">{{ fieldSchema.displayName }}</label>
	<div class="col-sm-9 col-md-10" ng-class="{ 'col-sm-offset-3 col-md-offset-2': field.schema.nolabel }">
		<div ng-include="renderInfo.templateUrl"></div>
		<div febworms-validation-summary febworms-validation-messages="fieldSchema.validation.messages" ng-if="!noValidationSummary"></div>
	</div>
</div>