.febworms-tabs > .nav-tabs {
	margin-bottom: 0px;
}

.febworms-tabs .tab-content {
	padding: 10px;
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
}

.febworms-tabs > .nav-tabs a {
	color: #999;
	font-weight: 300;
}

.febworms-tabs > .nav-tabs a:hover {
	background-color: inherit;
	color: #333;
}

.febworms-tabs > .nav-tabs .active a {
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #fff !important;
}
