<div>
    <div class="alert" ng-if="items.length === 0" style="padding: 40px">
        <h2 ng-if="!items.$resolved">Loading ...</h2>
        <div ng-if="items.$resolved">
            <h2>No data found.</h2>
            <a href="#/form/create" class="btn btn-primary">Add a fresh new form »</a>
        </div>
    </div>

    <div ng-if="items.length">
        <div class="info">
            Located {{ items.length }} form schema(s).
        </div>
        <table class="table table-hover">
            <tr>
                <th style="width:100px">
                    <a class="btn btn-mini" title="Add a new schema" href="#/form/create"><i class="icon-plus"></i></a>
                </th>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr ng-repeat="item in items">
                <td>
                    <a class="btn btn-mini" title="Edit the schema" href="#/form/edit/{{ item.id }}"><i class="icon-edit"></i></a>
                    <a class="btn btn-mini" title="Remove the schema" ng-click="removeItem(item)"><i class="icon-trash"></i></a>
                    <a class="btn btn-mini" title="View the data entries for this schema" href="#/form/{{ item.id }}/data"><i class="icon-th-list"></i></a>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.name || item.schema.name }}</td>
            </tr>
        </table>
    </div>
</div>
