<div class="febworms-edit-palette">
    <div class="form-horizontal">
        <fieldset>
            <div febworms-edit-palette-categories data-category="selectedCategory"></div>
            <div ng-repeat="template in templates | filter:templateFilter" class="febworms-field"
                 dq-draggable="febworms-edit-canvas" dq-drag-begin="{ source: 'palette', field: template }">
                <div class="febworms-field-overlay">
                    <div class="btn-toolbar btn-toolbar-right">
                        <button class="btn btn-mini" type="button" ng-click="schemaCtrl.addField(template)">Add</button>
                    </div>
                </div>
                <div class="control-group">
                    <div febworms-field="template" 
                         febworms-tab-index="-1" 
                         febworms-no-validation-summary="true"
                         febworms-edit-mode="true"></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
