<div>
    <div class="alert" ng-if="items.length === 0">
        <h2 ng-if="!items.$resolved">Loading ...</h2>
        <div ng-if="items.$resolved">
            <h2>No form schemas found.</h2>
            <a href="#/form/create" class="btn btn-primary">Add a fresh new form »</a>
        </div>
    </div>

    <div ng-if="items.length">
        <div class="info">
            Located {{ items.length }} form schema(s).
        </div>
        <table class="table table-hover">
            <tr>
                <th style="width:60px">
                    <a href="#/form/create" class="btn btn-mini"><i class="icon-plus"></i></a>
                </th>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr ng-repeat="item in items">
                <td>
                    <a href="#/form/edit/{{ item.id }}" class="btn btn-mini"><i class="icon-edit"></i></a>
                    <a class="btn btn-mini" ng-click="removeItem(item)"><i class="icon-trash"></i></a>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
            </tr>
        </table>
    </div>
</div>