
.febworms-edit-canvas .febworms-field-properties .control-group {
    margin-bottom: 10px;
}

.febworms-edit-canvas .febworms-field {
    padding-top: 15px;
    padding-bottom: 15px;
}
.febworms-edit-canvas .control-label {
    width: 130px;
}

.febworms-edit-canvas .controls {
    margin-left: 150px;
}

.febworms-edit-canvas-area {
    min-height: 300px;
    position: relative;
    /*padding-bottom: 100px;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 20px;
}

.febworms-edit-canvas-area-empty {
    position: absolute;
    left: 20px; right: 20px; bottom: 20px; top: 20px;
    margin: 0;
    padding: 0;
}

.febworms-edit-canvas-area-empty-x {
    font-size: 200px;
    line-height: 200px;
}

.febworms-drag-placeholder {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: dashed 1px #ddd !important;
    background-color: #f5f5f5 !important;
    min-height: 50px !important;
    margin-bottom: 20px;
}

.febworms-field-overlay-drag-top, .febworms-field-overlay-drag-bottom {
    height: 50%;
}

.febworms-field-properties .febworms-field-not-in-cache {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.febworms-edit-canvas .febworms-field.dragging {
    display: none;
}

/* Landscape phones and down */
@media (max-width: 480px) {

   
    .febworms-edit-canvas .controls {
        margin-left: 0px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .febworms-edit-canvas-area {
        /*padding-bottom: 0;*/
        min-height: inherit;
        padding: 0px;
        border: none;
     
    }

    .febworms-edit-canvas-area-empty {
        position: static;
    }
}