<div class="febworms-canvas">
    <!--<div class="febworms-drag-overlay"></div>-->
    <div class="form-horizontal">
        <fieldset>
            <legend>Canvas</legend>
            <div ng-if="!(schema.fields.length)" class="alert alert-info text-center">
                <p class="lead"><strong>Drag</strong> one of the available <strong>templates</strong> from the
                    <strong>palette</strong> to this <strong>canvas</strong>.</p>
            </div>
            <div ng-repeat="field in schema.fields" ng-init="initField(field)">
                <div data-febworms-canvas-field></div>
            </div>
        </fieldset>
    </div>
</div>
