<div class="febworms-canvas">
    <div class="form-horizontal">
        <fieldset>
            <legend>Canvas</legend>
            <div class="febworms-canvas-area"
                 dq-drag-area="febworms-canvas"
                 dq-drag-enter="dragEnter()"
                 dq-drag-leave="dragLeave()"
                 dq-drop="drop()">
                <div ng-if="!(schema.fields.length)">
                    <div ng-if="!dragPlaceholder.visible" class="febworms-canvas-area-empty alert alert-info text-center">
                        <p class="febworms-canvas-area-empty-x">X</p>
                        <p class="lead hidden-phone"><strong>Drag</strong> one of the available <strong>templates</strong> from the
                            <strong>palette</strong> onto this <strong>canvas</strong>.</p>
                    </div>
                </div>
                <div ng-repeat="field in schema.fields" ng-init="initField(field)">
                    <div ng-if="dragPlaceholder.visible && dragPlaceholder.index === $index"
                         class="febworms-drag-placeholder"></div>
                    <div data-febworms-canvas-field></div>
                </div>
                <div ng-if="dragPlaceholder.visible && dragPlaceholder.index == schema.fields.length" class="febworms-drag-placeholder">
                </div>
            </div>
        </fieldset>
    </div>
</div>
