<!DOCTYPE html>
<html id="ng-app" ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if lt IE 8]>
        <script>
            window.hasOwnProperty = function(obj){
                return (this[obj]) ? true : false;
            }
        </script>
    <![endif]-->
<%
    var styles = helpers.getIncludes('css');
    _.forEach(styles, function(style) {
%>      <link rel="stylesheet" href="<%=style%>"/>
<%
    });
%>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div data-navbar></div>
            <div data-notifications></div>
        </div>
    </div>
    <div class="row-fluid">
        <div ng-view></div>
    </div>
</div>
<%
    var scripts = helpers.getIncludes('js');
    _.forEach(scripts, function(script) {
%><script src="<%=script%>"></script>
<%
    });
%>
</body>
</html>