.febworms-palette .controls {
    margin-left: 0;
}

.febworms-palette .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
}

.febworms-field-drag {
    opacity: 0.8;
}