<div class="febworms-palette">
    <form novalidate name="febwormsPalette" class="form-horizontal">
        <fieldset>
            <legend>Palette</legend>
            <div ng-repeat="field in palette.fields" class="febworms-palette-field">
                <div class="febworms-palette-field-overlay" ng-dblclick="addFieldToSchema(field)">
                    <button class="btn btn-mini" type="button" ng-click="addFieldToSchema(field)">Add</button>
                </div>
                <div class="control-group">
                    <div ng-include="field.templateUrl"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>